ETL/WindowsETL/Service References/SrvAtendHBD/WSLerAtendimentos.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://microsoft.com/webservices/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://microsoft.com/webservices/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://microsoft.com/webservices/">
      <s:element name="RetornarUltimoRegistro">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="str_Unidade" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RetornarUltimoRegistroResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RetornarUltimoRegistroResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RetornarAtendimentos">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UltimoRegistro" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="NumeroLinhas" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RetornarAtendimentosResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RetornarAtendimentosResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GravarAtendimento">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="m_strUnidade" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="m_oDsDados">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GravarAtendimentoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GravarAtendimentoResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="RetornarUltimoRegistroSoapIn">
    <wsdl:part name="parameters" element="tns:RetornarUltimoRegistro" />
  </wsdl:message>
  <wsdl:message name="RetornarUltimoRegistroSoapOut">
    <wsdl:part name="parameters" element="tns:RetornarUltimoRegistroResponse" />
  </wsdl:message>
  <wsdl:message name="RetornarAtendimentosSoapIn">
    <wsdl:part name="parameters" element="tns:RetornarAtendimentos" />
  </wsdl:message>
  <wsdl:message name="RetornarAtendimentosSoapOut">
    <wsdl:part name="parameters" element="tns:RetornarAtendimentosResponse" />
  </wsdl:message>
  <wsdl:message name="GravarAtendimentoSoapIn">
    <wsdl:part name="parameters" element="tns:GravarAtendimento" />
  </wsdl:message>
  <wsdl:message name="GravarAtendimentoSoapOut">
    <wsdl:part name="parameters" element="tns:GravarAtendimentoResponse" />
  </wsdl:message>
  <wsdl:portType name="WSLerAtendimentosSoap">
    <wsdl:operation name="RetornarUltimoRegistro">
      <wsdl:input message="tns:RetornarUltimoRegistroSoapIn" />
      <wsdl:output message="tns:RetornarUltimoRegistroSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RetornarAtendimentos">
      <wsdl:input message="tns:RetornarAtendimentosSoapIn" />
      <wsdl:output message="tns:RetornarAtendimentosSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GravarAtendimento">
      <wsdl:input message="tns:GravarAtendimentoSoapIn" />
      <wsdl:output message="tns:GravarAtendimentoSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSLerAtendimentosSoap" type="tns:WSLerAtendimentosSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RetornarUltimoRegistro">
      <soap:operation soapAction="http://microsoft.com/webservices/RetornarUltimoRegistro" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetornarAtendimentos">
      <soap:operation soapAction="http://microsoft.com/webservices/RetornarAtendimentos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GravarAtendimento">
      <soap:operation soapAction="http://microsoft.com/webservices/GravarAtendimento" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WSLerAtendimentosSoap12" type="tns:WSLerAtendimentosSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RetornarUltimoRegistro">
      <soap12:operation soapAction="http://microsoft.com/webservices/RetornarUltimoRegistro" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetornarAtendimentos">
      <soap12:operation soapAction="http://microsoft.com/webservices/RetornarAtendimentos" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GravarAtendimento">
      <soap12:operation soapAction="http://microsoft.com/webservices/GravarAtendimento" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WSLerAtendimentos">
    <wsdl:port name="WSLerAtendimentosSoap" binding="tns:WSLerAtendimentosSoap">
      <soap:address location="http://172.25.10.103/WSLerAtendimentos/WSLerAtendimentos.asmx" />
    </wsdl:port>
    <wsdl:port name="WSLerAtendimentosSoap12" binding="tns:WSLerAtendimentosSoap12">
      <soap12:address location="http://172.25.10.103/WSLerAtendimentos/WSLerAtendimentos.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>