ETL/WindowsETL/Service References/SrvPacHBD/WSLerPacientes.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://microsoft.com/webservices/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://microsoft.com/webservices/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://microsoft.com/webservices/">
      <s:element name="RetornarUltimoRegistro">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="str_Unidade" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RetornarUltimoRegistroResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RetornarUltimoRegistroResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RetornarPacientes">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UltimoRegistro" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="NumeroLinhas" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RetornarPacientesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RetornarPacientesResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="RetornarUltimoRegistroSoapIn">
    <wsdl:part name="parameters" element="tns:RetornarUltimoRegistro" />
  </wsdl:message>
  <wsdl:message name="RetornarUltimoRegistroSoapOut">
    <wsdl:part name="parameters" element="tns:RetornarUltimoRegistroResponse" />
  </wsdl:message>
  <wsdl:message name="RetornarPacientesSoapIn">
    <wsdl:part name="parameters" element="tns:RetornarPacientes" />
  </wsdl:message>
  <wsdl:message name="RetornarPacientesSoapOut">
    <wsdl:part name="parameters" element="tns:RetornarPacientesResponse" />
  </wsdl:message>
  <wsdl:portType name="LerPacientesWPDSoap">
    <wsdl:operation name="RetornarUltimoRegistro">
      <wsdl:input message="tns:RetornarUltimoRegistroSoapIn" />
      <wsdl:output message="tns:RetornarUltimoRegistroSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RetornarPacientes">
      <wsdl:input message="tns:RetornarPacientesSoapIn" />
      <wsdl:output message="tns:RetornarPacientesSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="LerPacientesWPDSoap" type="tns:LerPacientesWPDSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RetornarUltimoRegistro">
      <soap:operation soapAction="http://microsoft.com/webservices/RetornarUltimoRegistro" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetornarPacientes">
      <soap:operation soapAction="http://microsoft.com/webservices/RetornarPacientes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="LerPacientesWPDSoap12" type="tns:LerPacientesWPDSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RetornarUltimoRegistro">
      <soap12:operation soapAction="http://microsoft.com/webservices/RetornarUltimoRegistro" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetornarPacientes">
      <soap12:operation soapAction="http://microsoft.com/webservices/RetornarPacientes" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="LerPacientesWPD">
    <wsdl:port name="LerPacientesWPDSoap" binding="tns:LerPacientesWPDSoap">
      <soap:address location="http://172.25.10.103/WSLerPacientes/WSLerPacientes.asmx" />
    </wsdl:port>
    <wsdl:port name="LerPacientesWPDSoap12" binding="tns:LerPacientesWPDSoap12">
      <soap12:address location="http://172.25.10.103/WSLerPacientes/WSLerPacientes.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>